# .hs proj .gitignore
#
# All the ignorin' I can think of for now.
#
# another test
#
# TODO: Add comments and structure

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.stack-work/
.stack-root/
/.cabal-sandbox/
TAGS
cabal-dev/
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/_site/
/.dir-locals.el
/.git/
